{% extends 'client/home/base.html' %}
{% load static %}

{% block title %}
<title>Carrito de pedidos</title>
{% endblock title %}

{% block css %}

{% endblock css %}


{% block contenido %}

<section>
    <div class="container" style="padding-top: 2em ;">
        <div class="row">
          <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-center">Boleta</h3>
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: center;">Garzon</th>
                            <td style="text-align: right;">Mark</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center;">Pedidos</th>
                            <td style="text-align: right;">Zapallo</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center;">Fecha y Hora</th>
                            <td style="text-align: right;">@twitter</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center;">IVA:</th>
                            <td style="text-align: right;">$23.321</td>
                          </tr>
                          <tr>
                            <th scope="row" style="text-align: center;">Propina:</th>
                            <td style="text-align: right;">$23.321</td>
                          </tr>
                          <tr class="table-active">
                            <th scope="row" style="text-align: center;">Total neto:</th>
                            <td style="text-align: right;">$23.321</td>
                          </tr>
                          <tr class="table-active">
                            <th scope="row" style="text-align: center;">Total:</th>
                            <td style="text-align: right;">$23.321</td>
                          </tr>
                        </tbody>
                      </table>  
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title text-center">Metodos de pago</h3>
                <div class="d-grid gap-2 col-6 mx-auto text-center" style="padding-top: 1em;">
                  <div id="paypal-button-container"></div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto text-center" style="padding-bottom:1em;">
                  <button type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Efectivo</button>
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content ">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Efectivo</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h1>Entregue el dispositivo al garzon</h1>
                          <h2>Pague en efectivo</h2>
                        </div>
                        <div class="modal-footer">
                          <a class="nav-link link-success" href="{% url 'menu' %}">Volver al Menu</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

{% endblock contenido %}

{% block script %}

<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=Ae_BAr7Xj2vam33d47VRNDLsaKl8ftxA1YUlOj7T7R2veZrK7whkqERyKD8oCQO5DnrjoRw3ra-72T7i&locale=es_CL&enable-funding=mercadopago"></script>
<!-- Set up a container element for the button -->
<script>
  paypal.Buttons({
    // Sets up the transaction when a payment button is clicked
    createOrder: (data, actions) => {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '' // Can also reference a variable or function 
          }
        }]
      });
    },
    // Finalize the transaction after payer approval
    onApprove: (data, actions) => {
      return actions.order.capture().then(function(orderData) {
        // Successful capture! For dev/demo purposes:
        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
        const transaction = orderData.purchase_units[0].payments.captures[0];
        alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
        // When ready to go live, remove the alert and show a success message within this page. For example:
        // const element = document.getElementById('paypal-button-container');
        // element.innerHTML = '<h3>Thank you for your payment!</h3>';
        // Or go to another URL:  actions.redirect('thank_you.html');
      });
    }
  }).render('#paypal-button-container');
</script>
{% endblock script %}