<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash-Pedidos</title>
</head>
<body>
    
    <section>
        <div class="container">
            .<div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <h4 class="card-title">Ingrese su RUT</h4>
                        <input type="text"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                        <small id="helpId" class="form-text text-muted">Help text</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>