
div.reservacion {
  padding: auto;
  padding-bottom: 15%;
  text-align: center;
}
div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: auto;
  display: inline-block;
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

select, datetime-local {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: auto;
  padding: 10px;
}

div.elem-group.inlined input {
  width: auto;
  display: inline-block;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}