{% extends 'dashboard/manager/base.html' %}
{% block admin-contenido %}
{% load humanize %}

<section>
    <div class="container">
        <div class="card">
            <div class="card-header ">
                <a name="" id="" class="btn btn-success" href="{% url 'crear_menu' %}" role="button">Agregar Menu</a>
                <a name="" id="" class="btn btn-success " href="{% url 'tipos_menus' %} " role="button">Tipos Menu</a>

            </div>
            <div class="card-body">
        
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Porcion</th>
                                <th scope="col">Tiempo</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Precio</th>
                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for m in menus %}
                            <tr>
                                <td>{{ m.id_menu }}</td> 
                                <td>{{ m.id_tipo_m }}</td>
                                <td>{{ m.nombre_m }}</td> 
                                <td>{{ m.porcion }}</td>
                                <td>{{ m.tiempo }}</td>
                                <td>{{ m.detalle }}</td>
                                <td>${{ m.precio | intcomma }}</td>

                                <td> 
                                    <div class="d-flex justify-content-between btn-group" role="group">
                                        <a name="" id="" class="btn btn-info" href="{% url 'modificar_menu' m.id_menu %} " role="button">Modificar</a> 
                                        <a name="" id="" class="btn btn-danger" href=" {% url 'eliminar_menu' m.id_menu %} " role="button">Eliminar</a></td>
                                    </div>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
</section>

{% endblock admin-contenido %}