{% extends 'dashboard/manager/base.html' %}
{% block admin-contenido %}

<section>
    <div class="container">
        <div class="card">
            <div class="card-header ">
                <a name="" id="" class="btn btn-warning" href="{% url 'administrar_menu' %}" role="button">Atras</a>
                <a name="" id="" class="btn btn-success " href="{% url 'crear_tipo_menu' %}" role="button">Agregar Tipo Menu</a>
            </div>
            <div class="card-body">
        
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <th scope="col">N°Tipo</th>
                                <th scope="col">Descripcion</th>

                                <th scope="col" class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in tipos %}
                            <tr>
                                <td>{{ t.id_tipo_m }}</td> 
                                <td>{{ t.descripcion }}</td>
                                <td  class="d-flex justify-content-between btn-group" role="group"> 
                                    <a name="" id="" class="btn btn-info" href="{% url 'mod_tipos_menus' t.id_tipo_m  %} " role="button">Modificar</a> 
                                    <a name="" id="" class="btn btn-danger" href=" {% url 'eliminar_tipos_menus' t.id_tipo_m %}" role="button">Eliminar</a></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
</section>

{% endblock admin-contenido %}