{% extends 'dashboard/manager/base.html' %}


{% block admin-contenido %}

<section>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <a name="" id="" class="btn btn-success" href="{% url 'crear_empleado' %}" role="button">Agregar Empleado</a>
            </div>
            <div class="card-body">
        
                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                
                                <th scope="col">Rut</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Rol</th>
                                <!-- <th scope="col">Hora Entrada</th>
                                <th scope="col">Hora Salida</th>
                                <th scope="col">Turno</th> -->
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in empleados %}
                            <tr>
                                <td>{{ e.0 }}</td>
                                <td>{{ e.1 }}</td>
                                <td>{{ e.2 }}</td>
                                <td>{{ e.3 }}</td>
                                <td>{{ e.4 }}</td>
                                <td>{{ e.5 }}</td>
                                
                                <!-- <td>{{ e.6 }}</td> 
                                <td>{{ e.7 }}</td> 
                                <td>{{ e.8 }}</td>  -->
                                <td class="d-flex justify-content-between btn-group" role="group"> 
                                    <a name="" id="" class="btn btn-info" href="{% url 'modificar'  e.0 %}" role="button">Modificar</a> 
                                    <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' e.0 %}" role="button">Eliminar</a></td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
</section>

{% endblock admin-contenido %}