{% extends 'dashboard/manager/base.html' %}


{% block admin-contenido %}

<section>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <a name="" id="" class="btn btn-success" href="{% url 'crear_empleado' %}" role="button">Agregar Empleado</a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Empleados</h4>
        
                <div class="table-responsive">
                    <table class="table table-primary">
                        <thead>
                            <tr>
                                <th scope="col">Rut</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>111111111</td>
                                <td>Carlos</td>
                                <td>Bodega</td>
                                <td>carlos@bodega.com</td>
                                <td>987654321</td>
                                <td>Bodega</td>
                                <td>Editar | Borrar</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="card-footer text-muted">
                Footer
            </div>
        </div>
    </div>
</section>

{% endblock admin-contenido %}