{% extends 'client/home/base.html' %}

{% load static %}

{% block title %}
<title>Listado de reservas</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/client/css/reservation.css' %}">
{% endblock css %}

{% block contenido %}
<section>
  <br>
  <br>
 <div class="container">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2>Mesas</h2>
        <p class="w-lg-50">Aqui se listaran todas las mesas del restaurante.</p>
    </div>
  </div>
  <div class="row">
    {% for m in mesas %}
      {% if m.data.2 == 'Disponible' %}
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="card">
                <img src="{% static 'client/img/mesas2.jpg' %}" class="card-img-top rounded mx-auto d-block" style="height: 50%; width: 50%;">
                <div class="card-body">
                  <h2 class="card-title" style="font-family: Arial;">Mesa - {{ m.data.0 }}</h2>
                  <p class="card-text">Encargado: {{ m.data.1 }}</p>
                  <a href="{% url 'update_mesa' m.data.0 %}" class="btn btn-primary">{{ m.data.2 }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if m.data.2 == 'Reservada' %}
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="card">
                <img src="{% static 'client/img/mesas2.jpg' %}" class="card-img-top rounded mx-auto d-block" style="height: 50%; width: 50%;">
                <div class="card-body">
                  <h2 class="card-title" style="font-family: Arial;">Mesa - {{ m.data.0 }}</h2>
                  <p class="card-text">Encargado: {{ m.data.1 }}</p>
                  <button type="button" class="btn btn-warning">{{ m.data.2 }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if m.data.2 == 'Ocupada' %}
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="card">
                <img src="{% static 'client/img/mesas2.jpg' %}" class="card-img-top rounded mx-auto d-block" style="height: 50%; width: 50%;">
                <div class="card-body">
                  <h2 class="card-title" style="font-family: Arial;">Mesa - {{ m.data.0 }}</h2>
                  <p class="card-text">Encargado: {{ m.data.1 }}</p>
                  <button type="button" class="btn btn-danger">{{ m.data.2 }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if m.data.2 == 'Deshabilitada' %}
        <div class="col-md-8 col-xl-6 text-center mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="card">
                <img src="{% static 'client/img/mesas2.jpg' %}" class="card-img-top rounded mx-auto d-block" style="height: 50%; width: 50%;">
                <div class="card-body">
                  <h2 class="card-title" style="font-family: Arial;">Mesa - {{ m.data.0 }}</h2>
                  <p class="card-text">Encargado: {{ m.data.1 }}</p>
                  <button type="button" class="btn btn-secondary">{{ m.data.2 }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endblock contenido %}