{% extends 'client/home/base.html' %}

{% load static %}

{% block title %}
<title>Reservación</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/client/css/reservation.css' %}">
{% endblock css %}

{% block contenido %}
  <section>
      <div class="container">
         <div>
          <br>
          <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
              <li class="breadcrumb-item "><a href="{% url 'index' %}">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Reservación</li>
            </ol>
          </nav>
        </div>
          <div class="container reservacion">
          
            <form action="" method="post">
            {% csrf_token %}
              <div class="elem-group inlined">
                {% if user.is_authenticated %}
                 <label for="">Rut</label>
                 <br>
                 <label>
                     <input class="text-center h5" type="text" id="id_usuario" name="id_usuario" value="{{ user.id_usuario }}" hidden>
                     <p class="h5">{{ user.rut }}</p>
                 </label>
                   <br>
                   {% endif %}
                <label for="checkin-date">Fecha y Hora</label>
                <br>
                <input type="datetime-local" id="fecha_hora" name="fecha_hora" required>
              </div>
              <div class="elem-group ">
                <label for="room-selection">Seleccione la mesa disponible</label>
                <br>
                  <select id="id_mesa" name="id_mesa" class="w-25" required>
                      <option value="">Seleccionar</option>
                       {% for e in estados %}
                           {% if e.data.1 == "Disponible"%}
                               <option value="{{ e.data.0 }}">Mesa {{ e.data.0 }} - {{ e.data.1 }}</option>
                           {% endif %}
                       {% endfor %}
                  </select>
              </div>
              <input type="submit" value="Reservar" class="btn btn-success">
                <br>
                {{ mensaje }}
                
            </form>
           
          </div>
      </div>

  </section>
{% endblock contenido %}
    